.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgb(229, 225, 225);
  height: 80px;
}

@media screen and (min-width: 578px) {
    .header-container{
      padding: 0 50px;
    }
}

.header-logo-container {
}

.logo {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
}

.nav-logo-heading{
  text-decoration: none;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: 35px;
  color: #000000;
}

.logout-logo{
    font-size: 25px;
}

.logout-button{
  cursor: pointer;
  outline: none;
  border: none;
  background-color:transparent;
}